/* works sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 48px;
    background: #FF42A5;
    padding: 10px 15px;
    border: none;
    text-transform: uppercase;
    color: white;
}

.btn-secondary {
    border-radius: 48px;
    background: #4EC5F7;
    color: white;
    padding: 10px 15px;
    border: none;
}

/* nav style starts here */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background: white;
    font-weight: 700;

}

.logo-container {
    display: flex;
    align-items: center;
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-g {
    color: #FF42A5;
}

.nav-items-container a {
    text-decoration: none;
    color: #3C354F;
}

.logo-container p {
    margin-left: 10px;
    font-weight: 800;
    font-size: 45px;
}

.logo-container img {
    height: 45px;
}

.follow-us-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}

/* nav style end here */

/* Banner section style start here */

.banner {
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content h1 {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
}

.banner-content h3 {
    color: #0B0223;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content p {
    color: #534C64;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: lowercase;
}


.banner img {
    width: 100%;

}

.banner-image {
    width: 50%;
}

.banner-content {
    width: 50%;
    padding: 70px;
    text-align: center;
    gap: 10px;
}

/* Banner section style end here */

/* we are gamer part starts */
.we-are-gamer-content h2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.we-are-gamer{
    display: flex;
    text-align: right;
}
.we-are-gamer-content p{
    font-weight: 400;
    color: #3C354F;
}
.rock-on{
    font-weight: 600;

}
/* we are gamer part ends */

/* main section start */
main {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
main p{
    color: #0B0223;
    font-weight: 500;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

}

.card-container img {
    width: 250px;
    height: 280px;

}
.card-container p{
    font-weight: 600;
    color: #3C354F;
}

/* main section end */

/* play instant section start */
.play-instant {
    width: 1100px;
    margin: 0 auto;
}

.play-instant {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
}
.div-content h3{
    font-size: 3rem;
}
.div-content p{
    font-weight: 600;
    color: #3C354F;
}

.div-pink {
    color: #FF42A5;

}

.div-content {
    width: 50%;
}

.div-picture {
    width: 50%;
}

.div-picture img {
    height: 80%;
    margin-left: 50px;
}

.p-pic {
    position: relative;
    bottom: 200px;
    right: 50px;
}


/* play instant section end */

/* more button section starts */
.more-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single {
    display: flex;
    border: 1px solid #FF42A5;
    border-radius: 45px;
    background-color: #cfc6e7;
    padding: 10px;
    font-weight: 600;
    gap: 15px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.single img {
    width: 60px;
    height: 60px;

}

/* more button section  ends */
/* footer section */
.footer {
    max-width: 1200px;
    max-height: 300px;
    border: 1px solid tomato;
    background-color: aqua;
}

.logo-container-2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.social {
    text-align: center;
    margin-top: 20px;
}

.social a {
    text-decoration: none;
    color: #0B0223;
    margin-left: 10px;
}

.icon-train {
    text-align: center;
    font-size: 45px;
    margin-top: 20px;
}

.last-property {
    width: 50%;
    margin: 0 auto;
    border: 1px dotted blueviolet;
    text-align: center;
    margin-top: 20px;
}

.last-property a {
    text-decoration: none;
    color: #0B0223;
    margin-left: 20px;
}

.small-footer {
    font-size: 10px;
    text-align: center;
}





/* responsive mode start */

/* mobile device */
@media screen and (max-width:576px) {

    .nav-container,
    .nav-items-container,
    .banner {
        flex-direction: column;
    }

    .nav-container {
        width: 100%;
    }

    .nav-items-container {
        gap: 20px;
    }

    .banner-content {
        padding: 0;
        width: 100%;
    }

    .banner {
        width: 100%;
        justify-content: flex-end;
    }

    .banner-content h1,
    .banner-content h3,
    .banner-content p {
        margin: 0;
        gap: 10px;
    }

    .banner img {
        width: 100%;
        height: 100%;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    main {
        width: 100%;
        margin: 0 auto;
    }

    .play-instant {
        width: 100%;
        flex-direction: column;
    }

    .div-picture img {
        width: 100%;
    }

    .p-pic {
        position: relative;
        top: 30px;
    }

    .more-button {
        flex-direction: column;
    }
    .we-are-gamer{
        flex-direction: column-reverse;
        width: 100%;
    }
    .we-are-gamer-image img{
        width: 100%;
    }


}

/* tablet or medium */
@media screen and (min-width:576px) and (max-width:992px) {

    .nav-container,
    .nav-items-container {
        flex-direction: column;
    }

    .nav-container {
        width: 100%;
    }

    .nav-items-container {
        gap: 0;
    }

    .banner {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .banner img {
        width: 100%;
        height: 100%;
    }

    .banner-content h3 {
        padding-top: 15px;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    main {
        width: 100%;
        margin: 0 auto;
    }

    .play-instant {
        width: 100%;
        flex-direction: column;
    }

    .p-pic {
        position: relative;
        top: 30px;
        width: 100%;
    }

    .div-picture img {
        width: 100%;
    }
    .we-are-gamer{
        flex-direction: column-reverse;
        width: 100%;
    }
    .we-are-gamer-image img{
        width: 100%;
    }

}

/* responsive mode end */